 <!-- form handling -->
 <form action="/api/auth/logout" method="POST" id="logout">
    <h6>_formLogout.ejs</h6>
    <div class="new_user">
        <div class="form-group">
            <button type="submit" class="btn text-dark update">Logout</button>
        </div>
    </div>
</form>