 <!-- form handling -->
 <form action="/api/users/profile" method="POST" id="show_profile">
    <div class="new_user">
        <h6>_formProfileOne</h6>
        <div class="form-group">
            <button type="submit" class="btn text-dark update">Profile</button>
        </div>
    </div>
</form>