 <!-- form handling -->
 <form action="/api/users/stats" method="get" id="_stats">
    <div class="new_user">
        <h6>_stats.ejs</h6>
        <div class="form-group">
            <button type="submit" class="btn text-dark update">Stats</button>
        </div>
    </div>
</form>