 <!-- form handling -->
 <form action="/api/products/admin_show_all_products" method="GET" id="admin_show_all_products">
    <div class="new_user">
        <h6>_formAdminShowAllProducts.ejs</h6>
        <div class="form-group">
            <button type="submit" class="btn text-dark update">Show All Products</button>
        </div>
    </div>
</form>