 <!-- form handling -->
 <form action="/api/users/admin_show_all_users" method="get" id="show_profile_all">
    <div class="new_user">
        <h6>_formAdminShowAllUsers.ejs </h6>
        <div class="form-group">
            <button type="submit" class="btn text-dark update">Show All Users</button>
        </div>
    </div>
</form>